@font-face {
    font-family: SouthWest-regular;
    src: url('../../assets/fonts/south-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: SouthWest-light;
    src: url('../../assets/fonts/south-light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}