.join-us{
    padding: 0 15px;
    .img-container{
        text-align: center;
        margin-bottom: 60px;
        @media screen and (max-width:800px) {
            margin: 20px 0 10px;
        }
    }
    h3{
        margin-bottom: 15px;
        font-size: 1rem;
        text-align: center;
        font-weight: 300;
    }
    iframe{
        border-radius: 10px;
        border: none;
    }
    button{
        margin-top: 25px;
        font-size: 22px;
        font-weight: 400;
        color: white;
        background-color: #2FCF0D;
        border-radius: 27px;
        padding: 11px 30px 11px;
        border: none;
        span{
            font-weight: 700;
        }
    }
}